*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    

}

.top {
    background-color: #6b46c1;
    color: #f7fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 9rem;
  }
  .top h1 {
    font-size: 3rem;
    padding-block-start: 5rem;
    padding-block-end: 1rem;
    line-height: 3.5rem;
  }
  .top > p {
    font-size: 1.5rem;
    padding-block-end: 3.5rem;
  }

/*.split{
    height: 50%;
    width:100%;
    position: fixed;
    z-index: -1;
    left:0;
    overflow: hidden;
}*/

/*.top{
    
    background-color:  #6B46C1;
    top:0;
    color:#fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.top h1{
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.01em;
    
   
}
.top h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    opacity: 0.84;
} */

/*.bottom{
    background-color:  #f6f2ff;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.wee{
    max-width: 60%;
    display: flex;
}
.bot{
    margin: 20px;
    position: relative;
    top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #171923;
    display: flex;
    

}
.bot img{
    height: 48px;
    width: 48px;
    margin-right: 10px;
}
.bot h3{
    margin:0 10px;
}*/

.bottom {
    display: flex;
    gap: 1.5rem;
    padding-block-start: 14rem;
    width: 50rem;
    margin: 0 auto;
  }
  .bot {
    display: flex;
    color: #171923;
    align-items: center;
    gap: 10px;
  }
  .bot p {
    font-weight: 700;
  }

.center{
    width:55rem;
    background-color:#f6f2ff;
    border-radius: 10px;
    box-shadow: 5px 3px 18px #888888;
    display: flex;
    overflow: hidden;
    margin: -120px auto -150px;
}
.left{
    background-color: #642cd31c;
    width:40%;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #171923;
    padding: 2.5rem;
}
.left h2{
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    margin: 10px 0;
    
}
.left h1{
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin:10px 0 ;
    }
.left h4{
    margin: 5px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin: 10px 0;
}
.left button{
    width: 180px;
    background-color:  #805AD5;
    border-radius: 8px;
    border: none;
    padding: 0.8rem;
    color: #fff;
    border-color:#805AD5;
    align-self: center;
}
.right{
    padding: 32px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    gap: 1.5rem;
}
.right h4{
    font-weight: 400;
}
.right .inner{
    display: flex;
    align-items: center;
    gap: 10px;
}

.right ul img{
    height: 18px;
    width: 18px;

}

@media only screen and (max-width: 600px ){
    /* for mobile device
    --width: 428px
    --height : 1191px-- */ 
    .center{
        width:95%;
        height:60%;
        position: relative;
        bottom: 0;
        flex-direction: column;
    }
    .left{
        height: 40%;
        width: 100%;
    }
    .top{
        height: 30%;
        text-align: left;
        padding: 5%;
    }
    .text{
       top: 0;
        width:95%;
    }
    .text h1{
        font-size: 36px;
    }
    .text h3{
        font-size:18px;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
        height:70%;
    }
    .wee{
        flex-direction: column;
        text-align: left;
        padding:2.5%;
    }
        
    .bot{
        top:300px;
        margin: 10px;
        font-size: 14px;
    }
    .bot img{
        height: 40px;
        width: 40px;
    }

    .right ul li{
        padding: 10px 0;
    }
    
}
@media only screen and (min-width: 600px  ) and (max-width: 768px){
    /*for tablet device */
    .center{
        width:90%;
        height:60%;
        position: relative;
        top: 50px;
        flex-direction: column;
        
    
    }
    .left{
       height: 40%;
       width: 100%;
    }
    .top{
        height: 40%;
        text-align: left;
        padding: 5%;
    }
    .text{
        top: 0;
        width:90%;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
        height: 70%;
    }
    .wee{
        flex-direction: column;
        text-align: left;
        padding:2.5%;
    }
        
    .bot{
        top:340px;
        margin: 10px;
        font-size: 14px;
    }
    .bot img{
        height: 40px;
        width: 40px;
    }

   .right ul li{
    padding: 10px 0;
   }
    
}