*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    

}

.top {
    background-color: #6b46c1;
    color: #f7fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 9rem;
  }
  .top h1 {
    font-size: 3rem;
    padding-block-start: 5rem;
    padding-block-end: 1rem;
    line-height: 3.5rem;
  }
  .top > p {
    font-size: 1.5rem;
    padding-block-end: 3.5rem;
  }

.bottom {
    display: flex;
    gap: 1.5rem;
    padding-block-start: 14rem;
    width: 50rem;
    margin: 0 auto;
  }
  .bot {
    display: flex;
    color: #171923;
    align-items: center;
    gap: 10px;
  }
  .bot p {
    font-weight: 700;
  }

.center{
    width:55rem;
    background-color:#f6f2ff;
    border-radius: 10px;
    box-shadow: 5px 3px 18px #888888;
    display: flex;
    overflow: hidden;
    margin: -120px auto -150px;
}
.left{
    background-color: #642cd31c;
    width:40%;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #171923;
    padding: 2.5rem;
}
.left h2{
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    margin: 10px 0;
    
}
.left h1{
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin:10px 0 ;
    }
.left h4{
    margin: 5px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin: 10px 0;
}
.left button{
    width: 180px;
    background-color:  #805AD5;
    border-radius: 8px;
    border: none;
    padding: 0.8rem;
    color: #fff;
    border-color:#805AD5;
    align-self: center;
}
.right{
    padding: 32px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    gap: 1.5rem;
}
.right h4{
    font-weight: 400;
}
.right .inner{
    display: flex;
    align-items: center;
    gap: 10px;
}

.right ul img{
    height: 18px;
    width: 18px;

}



@media only screen and (max-width: 926px){
    /*for tablet device */
    .top h1 {
        font-size: 2.5rem;
      }
      .top  p {
        font-size: 1.5rem;
      }
      .center {
        width: 40rem;
      }
      .bottom {
        width: 40rem;
      }
    
}

@media only screen and (max-width: 646px ){

    
    /* for mobile device*/ 
    .top{
        padding-bottom: 10rem;
    
    }
    .top h1{
        font-size: 2rem;
        width: 90%;
        margin: 0 auto;
    }
    .top p{
        font-size: 1rem;
        width: 90%;
        margin: 0 auto;
    }
  
    .center{
        width:80%;
        margin: 0 auto;
        flex-direction: column;
        margin-block: -10rem;
        
    }
    .left{
        flex-direction: column;
        gap: 0.2rem;
        width: auto;
    }
  
    .bottom{
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
        padding-block-start: 13rem;
        padding-block-end: 3rem;
        width: 90%;
        margin: 0 auto;
    }
  
        
    .bot{
        gap: 20px;
    }
    
}